.colpick {
	position: relative;
	background-color: #CCC;
	border:1px #AAA solid;
	-moz-border-radius:4px 98px 98px 98px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:98px;
	-webkit-border-bottom-right-radius:98px;
	-webkit-border-bottom-left-radius:98px;
	border-radius:98px 98px 98px 4px;
	z-index:100;
}

.colpick * {
	position: absolute;
	cursor: crosshair;
}

.colpick, .colpick .wheel {
	width: 195px;
	height: 195px;
}

.colpick .color, .colpick .overlay {
	top: 47px;
	left: 47px;
	width: 101px;
	height: 101px;
}

.colpick .wheel {
	background: url(wheel.png) no-repeat;
	width: 195px;
	height: 195px;
}

.colpick .overlay {
	background: url(mask.png) no-repeat;
}

.colpick .marker {
	width: 17px;
	height: 17px;
	margin: -8px 0 0 -8px;
	overflow: hidden; 
	background: url(marker.png) no-repeat;
}

.colpick .close {
	top:3px;
	left:3px;
	width:13px;
	height:13px;
	background: url(close.png) no-repeat;
	cursor:pointer;
	z-index:1001;
}

.colpick.topdock {
	-moz-border-radius:98px 98px 98px 4px;
	-webkit-border-top-left-radius:98px;
	-webkit-border-top-right-radius:98px;
	-webkit-border-bottom-right-radius:98px;
	-webkit-border-bottom-left-radius:4px;
	border-radius:98px 98px 4px 98px;
}

.colpick.topdock .close {
	top:auto;
	bottom:3px;
}

.colpick.rightdock {
	-moz-border-radius:98px 4px 98px 98px;
	-webkit-border-top-left-radius:98px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:98px;
	-webkit-border-bottom-left-radius:98px;
	border-radius:4px 98px 98px 98px;
}

.colpick.rightdock .close {
	left:auto;
	right:3px;
}

.colpick.rightdock.topdock {
	-moz-border-radius:98px 98px 4px 98px;
	-webkit-border-top-left-radius:98px;
	-webkit-border-top-right-radius:98px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:98px;
	border-radius:98px 4px 98px 98px;
}

.colpick.rightdock.topdock .close {
	top:auto;
	bottom:3px;
	right:3px;
}
